.hero-container{
   
    overflow: hidden;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(26,8,43,1) 100%);
    display: flex;
   
}
video{
    
    height: 500px;
    border-radius: 100%;
    transform: rotate(30deg);
    
   
    

}
.video-box{
   
    width: 49%;
    max-width: fit-content;
    margin-left: auto;
    
    
}
.textbox{
    
    width: 99%;
    
}
.textbox, h1{
    font-size: 2em;
    color: white;
    font-family: "Seymour One", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-left: 20px;
 
   

}
.cryptoprices{
   
}